* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(#e92e3d,#3b0b09)0 100%;
    background-size: 100% 50%;
}

.container {

    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(50, 50,50,0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.dice-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-around;

}

.dice-wrapper .shake {
    animation: shake 0.5s infinite;

}

.container p {
    font-size: 16px;
    margin: 30px 0;
    font-weight: 500;
}

button{
    font-size: 16px;
    background-color: #e92e3d;
    border: none;
    outline: none;
    padding: 15px 0;
    width: 150px;
    letter-spacing: 2px;
    border-radius: 15px;
}

/* zarın sallanması için * to shake the dice*/
@keyframes shake {
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(8deg);
    }
    
}



